doctype 
html
	head
		meta(charset='utf-8')
		title #{title}
	body
		h1 #{title}
		.container
			form(method='post',action="/admin/movie/new")
				input#inputTitle(type="text",name="movie[title]",value="#{movie.title}")
				button(type="submit") 录入
